[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mmaqshiny"]
	path = mmaqshiny
	url = https://github.com/meenakshi-kushwaha/mmaqshiny
